.post-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .d-flex.align-items-center {
    margin-bottom: 1rem;
  }
  
  .card-body {
    padding: 1.5rem;
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 1rem;
  }
  
  .text-primary {
    font-weight: bold;
    cursor: pointer;
  }
  
  
  .rounded-circle {
    width: 80px !important;
    height: 80px !important;
    object-fit: cover; /* Ensures the image fits nicely within the circle */
  }
  
  .me-2 {
    margin-right: 80px; /* This retains the spacing to the right of the image */
  }
  